.one { 
    font-size: 10 + 10px;
}


//이런 식의 연산이 되지 않도록 주의해야 한다(예상치 못한 결과가 나올 수 있음)
.two {
    font-size: 10 + 10px
}
.three {
    font-size: 10px - 3px;
}

.four {
    font-size: 10px - -3px; 
    //10 - 3 이 아니라 -3이 음수로 인식되어 -3px로 적용됨
}

.five {
    font-size: 10px - 3px;
    //10 - 3 이 아니라 -3이 음수로 인식되어 -3px로 적용됨
}

.six {
    font-size: 30px;
}

.seven {
    font-size: (10px / 3); //괄호로 묶어줘야 연산 적용이 됨
}

.eight {
    font-size: 10px % 3px;
}