body {
    background-color: rgb(221, 217, 211);
}


/* 입 변화 */
@keyframes mouthappear {
    0% {
		background-color: transparent;
	}
    40% {
		background-color: transparent;
	}
	
	50% {
		background-color: #896B47;
	}

    70% {
        background-color: #896B47;
    }

    100% {
        background-color: #896B47;
    }
}

@keyframes tongueappear {
    0% {
		background-color: transparent;
	}
    40% {
		background-color: transparent;
	}
	
	50% {
		background-color: #975656;
	}

    70% {
        background-color: #975656;
    }

    100% {
        background-color: #975656;
    }
}

/* 눈썹 변화 */
@keyframes eyebrow {
    0% {
		transform: rotate(0deg) scale(1);
	}

    49.99% {
		transform: rotate(0deg) scale(1);
	}
	
	50% {
		transform: rotate(180deg) scale(1);
        top: 30%;
	}

    100% {
        transform: rotate(180deg) scale(1);
        top: 30%;
    }
}

/* 눈동자 변화 */
@keyframes bigeyes {
	50% {
		transform: scale(1.5);
	}

    70% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.5);
    }
}

/* 초밥 */
@keyframes bapMoving {
    0% {
		opacity: 0;
	}
    40% {
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bapMoving2 {
    0% {
		opacity: 0;
	}
    40% {
		opacity: 0;
	}
	
	50% {
		opacity: 0;
	}

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bapMoving3 {
    0% {
		opacity: 0;
	}
    40% {
		opacity: 0;
	}
	
	50% {
		opacity: 0;
	}

    70% {
		opacity: 0;
	}

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}
@keyframes bapMoving4 {
    0% {
		opacity: 0;
	}
    40% {
		opacity: 0;
	}
	
	50% {
		opacity: 0;
	}

    70% {
		opacity: 0;
	}

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* CSS 적용 */
.otter { 
    width: 700px;
    height: 800px;

    position: relative;
    margin: auto;
}

.hat {
    width: 340px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    position: absolute;
    top: 20%;
    left: 26%;
    z-index: 3;
}

/* 얼굴 --------------------------------------*/
.cover {
    width: 300px;

    position: absolute;
    top: 58%;
    left: 27%;
    z-index: 2;
}

.face {
    width: 310px;
    height: 250px;
    background-color: #8F7363;
    border-radius: 47%;

    position: relative;
    top: 43%;
    left: 27%;
}

/* 눈 --------------------------------------*/
.eyes-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #2b2929 ;

    position: absolute;
    z-index: 3 
}

.eyes-wrapper.left {
    top: 40%;
    left: 20%;
}

.eyes-wrapper.right {
    top: 40%;
    left: 68%;
}

/* 눈동자 --------------------------------------*/
.eye {
    animation: bigeyes 1s infinite alternate;
    width: 7px;
    height: 7px;
    border-radius: 50px;
    background-color: #f2f2f2;
    position: absolute;
    z-index: 4;
}

.eye.left {
    top: 45%;
    left: 30%;
}

.eye.right {
    top: 45%;
    left: 70%;
}

/* 눈썹 --------------------------------------*/
.eyebrow {
    animation: eyebrow 1s infinite alternate;
    width: 55px;
    height: 20px;
    border-bottom: 4px solid black;
    border-radius: 45% 60%;

    position: absolute;
    z-index: 4;
    top: 25%;
    left: 20%;
}

.eyebrow.left {
    transform: rotate(10deg);
}

.eyebrow.right {
    left: 65%;
    transform: rotate(-10deg);
}

/* 코 --------------------------------------**/
.nose {
    width: 55px;
    height: 35px;
    border-radius: 50%;
    background-color: #624235;

    position: absolute;
    z-index: 4;
    top: 55%;
    left: 42%;
}

.brown {
    width: 100px;
    height: 80px;
    border-bottom: 3px solid #795C42;
    border-radius: 70% 60%;

    position: absolute;
    z-index: 3;
}

.brown.left {
    top: 50%;
    left: 19%;
    transform: rotate(-20deg);
}

.brown.right {
    top: 52%;
    left: 50%;
    transform: rotate(30deg);
}

/* 입 --------------------------------------*/
.brown.left::after {
    animation: mouthappear 1s infinite alternate;
    content: "";
    width: 32px;
    height: 45px;
    background-color: #896B47;
    position: inherit;
    top: 67px;
    left:68px;
    transform: rotate(161deg);
    border-radius: 70px 90px 70px 0px;
}

.brown.right::after {
    animation: tongueappear 1s infinite alternate;
    content: "";
    width: 32px;
    height: 28px;
    background-color: #975656;
    position: inherit;
    top: 79px;
    left: 14px;
    transform: rotate(30deg);
    border-radius: 20px 30px 30px ;
}


/* 초밥 --------------------------------------*/
.bap1 {
    animation: bapMoving 1s infinite alternate;
    width: 100px;
    position: absolute;
    right: 120%; 
}

.bap2 {
    animation: bapMoving2 1s infinite alternate;
    width: 100px;
    position: absolute;
    top: 50%;
    right: 120%; 
}

.bap3 {
    animation: bapMoving3 1s infinite alternate;
    width: 100px; 
    position: absolute;
    top: 50%;
    left: 120%;
}

.bap4 {
    animation: bapMoving4 1s infinite alternate;
    width: 100px;
    position: absolute;
    left: 120%;
}