        .box1 {
            display: inline-block;
            background-color: #4a5568;
            border: 3px solid #000;
            padding: 3px 0 0 3px;
        }

        #box1 {
            width: 160px;
            height: 50px;
            color: white;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            background-color: #343f50;
            padding: 5px;
        }

        .box2 {
            width: 150px;
            height: 70px;
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(150, 86, 205, 1) 0%, rgba(61, 52, 246, 1) 100%);
            color: white;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            margin-top: 30px;
            border-radius: 40px;
            border: 3px dashed rgb(214, 190, 214);
            background-clip: padding-box;
            display: flex;
            /* 축 수평방향 정렬 */
            justify-content: center;
            /* 축 수직방향 정렬 */
            align-items: center;
        }

        .box3 {
            width: 160px;
            height: 70px;
            background-color: white;
            color: #000;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin-top: 30px;
            border: 2px solid rgb(241, 240, 240);
            border-radius: 0 50px 50px 50px;
            box-shadow: rgba(100, 100, 111, 0.2) 7px 13px 10px 3px;
            display: flex;
            justify-content: center;
            align-items: center;
        }