table {
    width: 70%;
    border: 3px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}

caption {
    font-size: 20px;
    caption-side: bottom;
    margin-top: 30px;
}

th,
td {
    border: 1px solid black;
}

th {
    background-color: #eee;
}

tfoot {
    font-weight: bold;
}